In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('data_features.csv', index_col=0)

In [13]:
data_features_with_location = pd.read_csv('data_features_with_location.csv', index_col=0)

In [14]:
df.head()

,sunshine,windgustspeed,humidity3pm,pressure3pm,year,windspeed3pm,temp_amplitude,cloud3pm,rainfall,climat,...,cloud9am,winddir9am_sin,latitude,month,geography,raintoday,evaporation,windspeed9am,windgustdir_cos,raintomorrow
0,10.9,44.0,22.0,1007.1,2008,24.0,9.5,7.0,0.6,0,...,8.0,1.224647e-16,-36.065766,12,0,0,7.6,20.0,-1.000000,0
1,12.9,44.0,25.0,1007.8,2008,22.0,17.7,1.0,0.0,0,...,1.0,9.238795e-01,-36.065766,12,0,0,12.0,4.0,-0.923880,0
2,8.0,46.0,30.0,1008.7,2008,26.0,12.8,2.0,0.0,0,...,7.0,1.224647e-16,-36.065766,12,0,0,8.0,19.0,-0.923880,0
3,2.2,24.0,16.0,1012.8,2008,9.0,18.8,6.0,0.0,0,...,8.0,-7.071068e-01,-36.065766,12,0,0,10.0,11.0,0.707107,0
4,6.7,41.0,33.0,1006.0,2008,20.0,14.8,8.0,1.0,0,...,7.0,3.826834e-01,-36.065766,12,0,0,4.8,7.0,-1.000000,0

In [16]:
data_features_with_location.shape

(72707, 29)

In [15]:
data_features_with_location_prepared = pd.read_csv('data_features_with_location_prepared.csv', index_col=0)

In [17]:
data_features_with_location_prepared.head()

,location,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure3pm,cloud9am,...,climat,geography,position,temp_amplitude,winddir9am_sin,winddir9am_cos,winddir3pm_sin,winddir3pm_cos,windgustdir_sin,windgustdir_cos
0,Albury,7.6,10.9,44.0,20.0,24.0,71.0,22.0,1007.1,8.0,...,0,0,0,9.5,1.224647e-16,-1.000000,0.382683,-0.923880,1.224647e-16,-1.000000
1,Albury,12.0,12.9,44.0,4.0,22.0,44.0,25.0,1007.8,1.0,...,0,0,0,17.7,9.238795e-01,-0.382683,-0.382683,-0.923880,3.826834e-01,-0.923880
2,Albury,8.0,8.0,46.0,19.0,26.0,38.0,30.0,1008.7,7.0,...,0,0,0,12.8,1.224647e-16,-1.000000,-0.382683,-0.923880,-3.826834e-01,-0.923880
3,Albury,10.0,2.2,24.0,11.0,9.0,45.0,16.0,1012.8,8.0,...,0,0,0,18.8,-7.071068e-01,0.707107,0.000000,1.000000,7.071068e-01,0.707107
4,Albury,4.8,6.7,41.0,7.0,20.0,82.0,33.0,1006.0,7.0,...,0,0,0,14.8,3.826834e-01,0.923880,0.707107,-0.707107,1.224647e-16,-1.000000